body {
  background-color: rgb(244, 246, 245);
  font: 400 1.375em/1.1 adobe-caslon-pro;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
}

.container .element {
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.container .image {
  margin-top: -500px;
}

.container .text {
  position: relative;
  float: left;
  min-height: 41px;
  color: rgb(0, 0, 0);
}

.element {
  position: relative;
  float: left;
  width: 100%;
}

.element .container {
  position: relative;
  width: 8.3333333333%;
  height: 100px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: center center;
}

.image {
  display: block;
  position: relative;
  float: left;
  height: auto;
  overflow: hidden;
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 29.1666666666%;
  height: 43px;
  margin: 50px 0 0 6.41667%;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 5px;
  background-color: rgb(210, 48, 40);
  font: normal 1.091em/1.38 Knockout-52Cruiserweight;
  text-align: left;
  color: rgb(255, 255, 255);
}

.container-1 {
  z-index: 17;
  margin: 30px 0 0 2.41667%;
  background: url('../images/ilt-bw.png') rgba(255, 255, 255, 0);
}

.container-10,
.container-8,
.container-9 {
  clear: both;
  width: 100%;
  height: 500px;
}

.container-2 {
  z-index: 19;
  margin: 30px 0 0 4.5%;
  background-image: url('../images/Lupton-bw.png');
}

.container-3 {
  z-index: 18;
  margin: -100px 0 0 34.24349%;
  background-image: url('../images/Spiekermann-bw.png');
}

.container-4 {
  z-index: 20;
  margin: 70px 0 0 2.41667%;
  background-image: url('../images/JSM-bw.png');
}

.container-5 {
  z-index: 21;
  margin: 70px 0 0 4.41146%;
  background-image: url('../images/monocle-bw.png');
}

.container-6 {
  z-index: 22;
  margin: 74px 0 0 4.41146%;
  background-image: url('../images/selectism-bw.png');
}

.container-7 {
  width: 100%;
  height: 500px;
}

.element-1 {
  clear: both;
  z-index: 36;
  height: 370px;
  margin-top: 75px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.element-2 {
  z-index: 2;
}

.element-3 {
  z-index: 7;
  margin-top: 1px;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.element-4 {
  z-index: 37;
  margin-top: 1px;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.element-5 {
  z-index: 42;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.element-6 {
  clear: both;
  z-index: 0;
  height: 610px;
  background-color: rgb(0, 0, 0);
}

.image-1 {
  z-index: 16;
  width: 226px;
  margin: 70px 0 0 6.41667%;
}

.image-2 {
  clear: both;
  z-index: 1;
  width: 436px;
  margin: -990px 0 0 57.41667%;
}

.image-3 {
  clear: both;
  z-index: 3;
  width: 600px;
}

.image-4 {
  z-index: 10;
  width: 743px;
  margin-left: 38.08203%;
}

.image-5 {
  clear: both;
  z-index: 40;
  width: 741px;
}

.image-6 {
  z-index: 45;
  width: 600px;
  margin-left: 50%;
}

.image-7 {
  clear: both;
  z-index: 47;
  width: 282px;
  margin: -540px 0 0 6.4166666666%;
  opacity: 0.6;
}

.text-1 {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 42.625%;
  margin: 49px 0 0 6.375%;
  font: normal 1.364em/1.38 Knockout-51Middleweight;
  color: rgb(0, 0, 0);
}

.text-10 {
  position: relative;
  float: left;
  z-index: 29;
  width: 17.0833333333%;
  margin: 77px 0 0 2%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-11 {
  position: relative;
  float: left;
  z-index: 31;
  width: 17.0833333333%;
  margin: 74px 0 0 2.08724%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-12 {
  position: relative;
  float: left;
  z-index: 33;
  width: 17.0833333333%;
  margin: 74px 0 0 2.00521%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-13 {
  position: relative;
  float: left;
  clear: both;
  z-index: 30;
  width: 17.0833333333%;
  margin: -18px 0 0 12.75%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.text-14 {
  position: relative;
  float: left;
  z-index: 32;
  width: 17.0833333333%;
  margin: -21px 0 0 44.66276%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.text-15 {
  position: relative;
  float: left;
  z-index: 34;
  width: 17.0833333333%;
  margin: -21px 0 0 76.5%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.text-16 {
  float: right;
  width: 22.75%;
  margin: 40px 0.83073% 0 0;
  font-family: Knockout-33JuniorHeviwt;
  font-size: 0.636em;
  font-weight: normal;
  text-align: right;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.23);
}

.text-17 {
  z-index: 4;
  width: 36.25%;
  margin: -401px 0 0 57.41667%;
  font: normal 1.136em/1.38 Knockout-51Middleweight;
}

.text-18 {
  z-index: 5;
  width: 36.25%;
  margin: -344px 0 0 57.41667%;
  font-size: 1em;
  line-height: 1.27;
}

.text-19 {
  clear: both;
  z-index: 8;
  width: 23.5%;
  margin: -401px 0 0 6.41667%;
  font: normal 1.136em/1.38 Knockout-51Middleweight;
}

.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 13;
  width: 42.625%;
  margin: 30px 0 0 6.375%;
  font-style: italic;
  font-size: 1.182em;
  font-weight: 700;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.text-20 {
  z-index: 9;
  width: 23.5%;
  margin: -344px 0 0 6.41667%;
  font-size: 1em;
  line-height: 1.27;
}

.text-21 {
  z-index: 38;
  width: 23.5%;
  margin: -401px 0 0 70.16667%;
  font: normal 1.136em/1.38 Knockout-51Middleweight;
}

.text-22 {
  z-index: 39;
  width: 23.5%;
  margin: -344px 0 0 70.16667%;
  font-size: 1em;
  line-height: 1.27;
}

.text-23 {
  clear: both;
  z-index: 43;
  width: 35.8333333333%;
  margin: -401px 0 0 6.83073%;
  font: normal 1.136em/1.38 Knockout-51Middleweight;
}

.text-24 {
  z-index: 44;
  width: 35.8333333333%;
  margin: -344px 0 0 6.83073%;
  font-size: 1em;
  line-height: 1.27;
}

.text-3 {
  position: relative;
  float: left;
  clear: both;
  z-index: 14;
  width: 42.625%;
  margin: 30px 0 0 6.375%;
  font-style: italic;
  font-size: 1.318em;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.text-4 {
  position: relative;
  float: left;
  z-index: 23;
  width: 17.0833333333%;
  margin: 35px 0 0 2%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-5 {
  position: relative;
  float: left;
  z-index: 25;
  width: 17%;
  margin: 35px 0 0 14.83073%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-6 {
  position: relative;
  float: left;
  z-index: 27;
  width: 17.0833333333%;
  margin: 35px 0 0 1.99089%;
  font-style: italic;
  font-size: 0.955em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.text-7 {
  position: relative;
  float: left;
  clear: both;
  z-index: 26;
  width: 17%;
  margin: -39px 0 0 44.75%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.text-8 {
  position: relative;
  float: left;
  z-index: 28;
  width: 17.0833333333%;
  margin: -39px 0 0 76.5%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.text-9 {
  position: relative;
  float: left;
  z-index: 24;
  width: 17.0833333333%;
  margin: -16px 0 0 12.75%;
  font-family: Knockout-52Cruiserweight;
  font-size: 0.682em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}