.fluid-span-1 {
  width: 4.375%;
}

.fluid-span-2 {
  width: 10.75%;
}

.fluid-span-3 {
  width: 17.125%;
}

.fluid-span-4 {
  width: 23.5%;
}

.fluid-span-5 {
  width: 29.875%;
}

.fluid-span-6 {
  width: 36.25%;
}

.fluid-span-7 {
  width: 42.625%;
}

.fluid-span-8 {
  width: 49%;
}

.fluid-span-9 {
  width: 55.375%;
}

.fluid-span-10 {
  width: 61.75%;
}

.fluid-span-11 {
  width: 68.125%;
}

.fluid-span-12 {
  width: 74.5%;
}

.fluid-span-13 {
  width: 80.875%;
}

.fluid-span-14 {
  width: 87.25%;
}

.fluid-span-15 {
  width: 93.625%;
}

.fluid-span-16 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 6.375%;
}

.fluid-offset-2 {
  margin-left: 12.75%;
}

.fluid-offset-3 {
  margin-left: 19.125%;
}

.fluid-offset-4 {
  margin-left: 25.5%;
}

.fluid-offset-5 {
  margin-left: 31.875%;
}

.fluid-offset-6 {
  margin-left: 38.25%;
}

.fluid-offset-7 {
  margin-left: 44.625%;
}

.fluid-offset-8 {
  margin-left: 51%;
}

.fluid-offset-9 {
  margin-left: 57.375%;
}

.fluid-offset-10 {
  margin-left: 63.75%;
}

.fluid-offset-11 {
  margin-left: 70.125%;
}

.fluid-offset-12 {
  margin-left: 76.5%;
}

.fluid-offset-13 {
  margin-left: 82.875%;
}

.fluid-offset-14 {
  margin-left: 89.25%;
}

.fluid-offset-15 {
  margin-left: 95.625%;
}

