body {
  margin: 1em 0 2em 0;
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 280px;
}
#content {
  max-width: 700px;
  margin: 4em auto 0 auto;
}
h1 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16vw;
  font-family: 'Oswald';
  letter-spacing: -.015em;
  /*max-width: 800px;*/
}
.subtitle {
  margin-top: 0;
  clear:both;
}
h2 {
  margin: 1.5em 0 1.5em 0;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 400;
}
h3 {
  font-weight: 700;
}
ul {
  padding-left: 1.66em;
}
.code {
  background-color: #f1f1f1;
  border-radius: .16em;
  padding: .66em;
}
.inline-code {
  background-color: #f1f1f1;
  border-radius: .16em;
  padding: 0 .25em;
  font-size: .8em;
}
.code, .inline-code {
  font-family: 'Source Code Pro', monospace;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30vw;
    position: absolute;
    top: -0.75em;
    left: -.05em;
    line-height: .87;
    text-transform: uppercase;
    /*letter-spacing: -.015em;*/
  }
  h1 span {
    display: block;
  }
  #content {
    margin-top: 94vw;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 192px;
    margin: 0 auto;
    left: -1.04em;
    position: relative;
  }
}
